/* Reset default margins */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav{
  height: 10rem;
  background-color: #144168;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mansha-logo img{
  height: 8rem;
  width: 8rem;
  padding: 0 2rem;
}

.mansha-logo-nav img{
  height: 8rem;
  width: 8rem;
  padding: 0 2rem;
  position: absolute;
  top: 25px;
  left: 30px;
}

/* Hamburger Menu Styling */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  position: fixed;
  top: 9%;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}

.hamburger div {
  width: 100%;
  height: 5px;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
}

/* Transform to X (Cross) */
.change .bar1 {
  transform: rotate(45deg) translateY(17px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(-45deg) translateY(-17px);
}

.bar1{
  border-radius: 30px;
}

.bar2{
  border-radius: 30px;
}

.bar3{
  border-radius: 30px;
}

/* Side Navigation */
.navbar {
  height: 100%;
  width: 80%;
  position: fixed;
  top: 0;
  right: -90%;
  background-color: #144168;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px;
}

.navbar a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  transition: 0.3s;
  padding: 1rem;
}

.home{
  margin-top: 7rem;
}

li{
  list-style: none;
}

.navbar a:hover {
  background-color: #fff;
  color: black;
}

/* Show Navbar when clicked */
.navbar.active {
  width: 80%;
  right: 0%;
}

.resi-div-hide{
  display: none;
}

.resi-para{
  font-size: 22px;
  color: white;
  display: block;
}


@media(min-width:300px) {
  .navbar {
    height: 100%;
    width: 60%;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #144168;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px;
  }
}