.logo-div {
  width: 10rem;
  height: 4rem;
}

img {
  width: 100%;
  height: 100%;
}

header {
  width: 68vw;
  height: 20vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.desktop-li {
  margin-inline: 1rem;
  font-size: 1.5rem;
}

.hamburger {
  margin-right: 1rem;
  width: 30px;
  height: 30px;
}

.line1 {
  background-color: black;
  width: 100%;
  height: 3px;
  border-radius: 30%;
}

.line2 {
  background-color: black;
  width: 100%;
  height: 3px;
  margin-top: 5px;
  border-radius: 30%;
}

.line3 {
  background-color: black;
  width: 100%;
  height: 3px;
  margin-top: 5px;
  border-radius: 30%;
}

.phone-nav {
  text-align: left;
  list-style: none;
  width: 80vw;
  max-height: 0;
  overflow: hidden;
  margin: auto;
  font-size: 1.5rem;
  transition: 0.5s ease;
  z-index: 100;
  background-color: #fff;
}

.phone-nav-show {
  max-height: 30vh;
  transition: 0.5s ease;
}

.phone-li {
  margin: 1rem;
  font-weight: 100;
  border-bottom: 2px solid #eeeeee;
}

.container{
  width: 80vw;
  height: 20vh;
  margin: auto;
  position: absolute;
  top: 20%;
  z-index: -100;
}

h1{
  margin-left: 20px;
}

.input-1{
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #eeeeee;
  width: 30vw;
  margin: 1rem;
}

.input-2{
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #eeeeee;
  width: 65vw;
  margin: 1rem;
}

.gender{
  margin-left: 20px;
}

#Male{
  margin-left: 20px;
}

.source{
  margin-right: 400px;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  margin-left: 20px;
  font-weight: bold;
  margin-top: 30px;
}
.form-group input,
.form-group select {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #eeeeee;
  width: 65vw;
  margin: 1rem;
}

#submit-btn{
  padding: 1rem;
  position: absolute;
  right: 19%;  
  font-size: 1rem;
  border: 2px solid #00e3b2;
  color: #00e3b2;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}